{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESL - Oferta Formativa</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/esl.png' %}" alt="ESL" class="navbar-logo">
            </a>
            <a href="{% url 'home' %}">Home</a>
    
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'criar_oferta' %}">Criar Oferta</a>
                <a href="{% url 'register' %}">Registar</a>
            {% endif %}
        </div>
    
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <div class="user-dropdown">
                    <button class="user-name" onclick="toggleDropdown()">
                        {{ user.username }}
                    </button>
                    <div id="dropdown-menu" class="dropdown-content">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Área Reservada</a>
            {% endif %}
        </div>
    </nav>
    

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p id="letra">&copy; Turma 11ºUi - Ano Letivo 2024/2025.</p>
    </footer>

    <script>
        //// Função para alternar o estado do dropdown
        //function toggleDropdown() {
        //    var dropdown = document.getElementById("dropdown-menu");
//
        //    // Verifica se o menu está visível ou não, e alterna
        //    if (dropdown.style.display === "block") {
        //        dropdown.style.display = "none"; // Fecha o dropdown
        //    } else {
        //        dropdown.style.display = "block"; // Abre o dropdown
        //    }
        //}
//
        //// Fecha o dropdown se clicar fora dele
        //window.onclick = function (event) {
        //    var dropdown = document.getElementById("dropdown-menu");
        //    var userNameButton = document.querySelector(".user-name");
//
        //    // Se clicar fora do dropdown e do botão de nome, fecha o dropdown
        //    if (!userNameButton.contains(event.target) && !dropdown.contains(event.target)) {
        //        dropdown.style.display = "none";
        //    }
        //}
    </script>
</body>

</html>