{% extends 'base.html' %}
{% block title %}Criar Oferta{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h2>Criar Nova Oferta</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome do Curso" required>
            <textarea name="descricao" placeholder="Descrição"></textarea>
            <textarea name="saidas_profissionais" placeholder="Saídas Profissionais"></textarea>
            <input type="number" name="carga_horaria" placeholder="Carga Horária">
            <textarea name="disciplinas" placeholder="Disciplinas"></textarea>
            <input type="file" name="imagem">
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>


{% endblock %}