{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div class="dashboard-container">
    <div class="dashboard-header">
        <h1>Administração</h1>
        <a href="{% url 'criar_oferta' %}" class="create-offer-button">Criar Nova Oferta</a>
    </div>
    <div class="ofertas">
        {% for oferta in ofertas %}
        <div class="oferta-card">
            <h2>{{ oferta.nome }}</h2>
            <p><strong>Descrição:</strong> {{ oferta.descricao }}</p>
            <p><strong>Saídas Profissionais:</strong> {{ oferta.saidas_profissionais }}</p>
            <p><strong>Carga Horária:</strong> {{ oferta.carga_horaria }} horas</p>
            <p><strong>Disciplinas:</strong> {{ oferta.disciplinas }}</p>

            <div class="offer-actions">
                <a href="{% url 'editar_oferta' oferta.id %}" class="edit-offer-button">Editar</a>

                <form action="{% url 'remover_oferta' oferta.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="remove-offer-button"
                        onclick="return confirm('Tem certeza de que deseja remover esta oferta?');">Remover</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="no-permission">
    <h2>Você não tem permissão para aceder a esta página.</h2>
    <p>Esta área é proibida a utilizadores. <a href="{% url 'home' %}">Voltar para a homepage</a></p>
</div>
{% endif %}



{% endblock %}