{% extends 'base.html' %}
{% block title %}Detalhes da Oferta{% endblock %}

{% block content %}
<div class="detalhes-container">
    <div class="detalhes-box">
        <h2>{{ oferta.nome }}</h2>

        <head>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        </head>

        {% if oferta.imagem %}
        <img src="{{ oferta.imagem.url }}" alt="{{ oferta.nome }}" class="detalhes-img">
        {% endif %}
        <p><strong>Descrição:</strong> {{ oferta.descricao }}</p>
        <p><strong>Saídas Profissionais:</strong> {{ oferta.saidas_profissionais }}</p>
        <p><strong>Carga Horária:</strong> {{ oferta.carga_horaria }} horas</p>
        <p><strong>Disciplinas:</strong> {{ oferta.disciplinas }}</p>

        <a href="{% url 'home' %}" class="back-button">Voltar</a>
    </div>
</div>



{% endblock %}