{% extends 'base.html' %}
{% block title %}Editar Oferta{% endblock %}

{% block content %}
<div class="edit-container">
    <div class="edit-box">
        <h2>Editar Oferta</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome do Curso</label>
                <input type="text" name="nome" id="nome" value="{{ oferta.nome }}" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" required>{{ oferta.descricao }}</textarea>
            </div>

            <div class="form-group">
                <label for="saidas_profissionais">Saídas Profissionais</label>
                <textarea name="saidas_profissionais" id="saidas_profissionais"
                    required>{{ oferta.saidas_profissionais }}</textarea>
            </div>

            <div class="form-group">
                <label for="carga_horaria">Carga Horária</label>
                <input type="number" name="carga_horaria" id="carga_horaria" value="{{ oferta.carga_horaria }}" />
            </div>

            <div class="form-group">
                <label for="disciplinas">Disciplinas</label>
                <textarea name="disciplinas" id="disciplinas" required>{{ oferta.disciplinas }}</textarea>
            </div>

            <div class="form-group">
                <label for="imagem">Imagem</label>
                <input type="file" name="imagem" id="imagem">
                {% if oferta.imagem %}
                <div class="current-image">
                    <p>Imagem Atual:</p>
                    <img src="{{ oferta.imagem.url }}" alt="{{ oferta.nome }}">
                </div>
                {% endif %}
            </div>

            <button type="submit" class="submit-button">Salvar Alterações</button>
        </form>
    </div>
</div>



{% endblock %}