{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-box">
        <h2>Bem-vindo à Escola Secundária de Loulé</h2>
        <p>Explore as nossas ofertas formativas e planeie o seu futuro connosco!</p>
        <div class="ofertas-list">
            {% for oferta in ofertas %}
            <div class="oferta-item">
                <div class="oferta-details">
                    <h3>
                        <a href="{% url 'detalhes_oferta' oferta.id %}">
                            {% if oferta.imagem %}
                                <img src="{{ oferta.imagem.url }}" alt="{{ oferta.nome }}" class="oferta-img">
                            {% endif %}{{ oferta.nome }}
                        </a>
                    </h3>
                </div>
            </div>
            {% empty %}
                <p>Nenhuma oferta disponível de momento.</p>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
